* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-color: #f2f2f0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
  }
  header{
      display: flex;
      flex-direction: column;
      background-image: url(./images/ImageBackground.jpeg);
      background-repeat: no-repeat;
      background-size: 100%;
      max-width: 100%;
      /* width: 100em;
      opacity: 110%;
      height: 25em;
      min-height: 100%; */
  }
  header h1,p {
    color: white;
    justify-content: space-evenly;
    align-items: start;
  }
  header h1 {
      font-size: 25px;
      text-transform: uppercase;
      padding: 5% 5% 0 5%;
  }
  header p {
      /* width: 100%; */
      font-size: calc(1.4em + 1vw);
      font-weight: bold;
      text-align: center;
      padding: 10% 15% 13% 15%;
      /* padding-left: 15%; */
      /* padding-right: 15%; */
      /* padding-bottom: 100px; */
      /* height: 100vh; */
  }
  .fList {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 7%;
    list-style: none;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .cList {
    object-fit: cover;
    flex-direction: column;
  }
  .cList {
      object-fit: cover;
      flex-direction: column;
    }
  .cList img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    margin-block-start: 2em;
    margin-block-end: 2em;
  }
  dl {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  [itemprop="name"] {
    font-size: calc(0.8em + 1vw);
    font-weight: bold;
    width: 100%;
    color: black;
  }
  [itemprop="location"] {
      width: 100%;
      font-size: calc(0.3em + 1vw);
  
  }
  [itemprop="annualVisitors"] {
      width: 100%;
      font-size: calc(0.3em + 1vw);
   }
  dt {
    font-size: 24px;
    font-weight: bold;
  }
  dd {
    font-size: 18px;
    color: #757577;
  }
  footer {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    background-color: #757577;
    padding: 30px;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
  }
  .popup {
    position: fixed;
    z-index: 2;
    padding: 5%;
    border: 1px solid #ccc;
  }
  .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      /* position: relative; */
      /* width: fit-content; */
      align-items: stretch;
      gap: 5%;
      position: relative;
  }
  
  .workFunction1{
      /* margin: 10px 20px 10px 30px; */
      display: flex;
      flex-direction: column;
  }
  label[for="filterVisitors"]{
      font-size: 1em;
      margin-top: 1.5em;
  }
  .workFunction2{
      /* margin: 10px 20px 10px 30px; */
      display: flex;
      flex-direction: column;
  }
  label[for="sortName"]{
      font-size: 1em;
      margin-top: 1.5em;
  }
  select[data-testid="select-filter"]{
      display: inline;
      font-size: 0.9em;
      font-family: "Inter", sans-serif;
      color: #444;
      line-height: 1.3;
      padding: 0.6em 1.4em 0.5em 0.8em;
      width: 300px;
      box-sizing: border-box;
      margin: 10px 10px 10px 0px;
      border: 1px solid #aaa;
      border-radius: 1.5em;
      appearance: none;
      background-color: #fff;
      background-image: url(https://cdn-icons-png.flaticon.com/512/54/54785.png);
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  }
  select[data-testid="select-sort"]{
      display: inline;
      font-size: 0.9em;
      font-family: "Inter", sans-serif;
      color: #444;
      line-height: 1.3;
      padding: 0.6em 1.4em 0.5em 0.8em;
      width: 300px;
      box-sizing: border-box;
      margin: 10px 10px 10px 0px;
      border: 1px solid #aaa;
      border-radius: 1.5em;
      appearance: none;
      background-color: #fff;
      background-image: url(https://cdn-icons-png.flaticon.com/512/54/54785.png);
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  }
  button[data-testid="button-clear"] {
      font-size: 0.9em;
      font-family: "Inter", sans-serif;
      color: whitesmoke;
      width: 100px;
      box-sizing: border-box;
      margin: 3.5em 0em 3em 0em;
      /* margin: 4.5% 0em 2.5% 0em; */
      padding: 0.6em 0 0.6em 0;
      border: 1px solid #aaa;
      border-radius: 1.5em;
      background-color: #757577;
      box-shadow: 0 2px 0 2px rgba(0, 0.4, 0, 0.08);
      cursor: pointer;
  }
  .statistics {
      font-size: 15px;
      font-family: "Inter", sans-serif;
      color: #444;
      line-height: 1.3;
      width: 100px;
      box-sizing: border-box;
      margin: 3.5em 0em 3em 0em;
      /* margin: 4.5% 0em 2.5% 0em; */
      padding: 0.6em 0 0.6em 0;
      border: 1px solid #aaa;
      border-radius: 1.5em;
      background-color: #dcdcdc;
      background-image: url(https://github.com/C-LedezmaRodriguez/DEV013-dataverse/blob/main/src/images/statistics.png?raw=true);
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: 1.65em auto, 100%;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
      cursor: pointer;
  }
  .popStats {
      position: fixed;
      top: 380px;
      left: 25%;
      width: 50%;
      z-index: 2;
      padding: 25px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 30px;
      background: floralwhite;
  }
  .buttonCloseStats {
      position: fixed;
      top: 384px;
      left: 71.5%;
      padding: 0.8em;
      box-sizing: border-box;
      border: 1px solid #aaa;
      border-radius: 1.5em;
      background-image: url(https://www.vhv.rs/dpng/d/156-1569718_close-button-icon-png-transparent-png.png);
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: 0.8em auto, 100%;
      cursor: pointer;
  }
  