* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#root {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}
/* #root {
  height: 100vh;
} */
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-image: url(https://github.com/C-LedezmaRodriguez/DEV013-dataverse-chat/blob/main/src/images/ImageBackground.jpeg?raw=true);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
}
.iconContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2%;
  width: 100%;
}
.iconHomeContent {
  display: flex;
  width: 100%;
  padding: 3.6% 2% 3.6% 1.4%;
  /* margin: 0 0 2% 0; */
  max-height: 4em;
  background-image: linear-gradient(
    to right,
    rgba(112, 78, 78, 1),
    rgba(168, 111, 70, 1),
    rgba(193, 161, 133, 1),
    rgba(246, 235, 218, 1)
  );
  align-content: center;
  align-items: center;
}
/* .iconHomeContent {
  display: flex;
  width: 100%;
  padding: 3.6% 2% 0 1.4%;
  margin: 0 0 2% 0;
  max-height: 4em;
} */
/* .iconHomeContent {
  display: flex;
  width: 100%;
  padding: 3.6% 2% 0 1.4%;
  max-height: 4em;
} */
.tittleButton {
  color: white;
  font-size: calc(0.5em + 1vw);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  width: 7em;
  margin: 0.5em;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.statistics {
  width: 4em;
  height: 4em;
  margin: 0.5em;
}

.iconCircleButton {
  width: 100%;
  display: flex;
  margin: 0.5em;
  flex-direction: row-reverse;
  padding: 0 1em 0 0;
}
.statistics-button {
  height: 50px;
  width: 100%;
  max-width: 50px;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 0.6em 0 0.6em 0;
  border: 2px solid rgba(112, 78, 78, 1);
  border-radius: 50%;
  background-color: rgba(253, 249, 245, 1);
  background-image: url(https://github.com/C-LedezmaRodriguez/DEV013-dataverse-chat/blob/main/src/images/statistics-icon.png?raw=true);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 3.1em auto, 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.boxChats {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5%;
  position: relative;
  margin: 0 10% 0 10%;
  left: -550%;
  top: 120%;
  width: 32em;
  max-width: 300em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  height: 8em;
  padding: 5%;
  border-radius: 0.5em;
}
.windowGrpChat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244 237 231);
}
.boxApiKey {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 5%;
  margin: 0 10% 0 10%;
  left: -550%;
  top: 120%;
  width: 50%;
  max-width: 300em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  background-color: rgba(246, 235, 218, 1);
  padding: 1%;
  border-radius: 0.5em;
}

.boxAbtApiKey {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 5%;
  margin: 20%;
  /* left: -550%; */
  /* top: 120%; */
  width: 50%;
  max-width: 300em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  background-color: rgba(246, 235, 218, 1);
  padding: 1%;
  border-radius: 0.5em;
  z-index: 1;
  position: absolute;
}

.apikey-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button[data-testid="button-apiKey"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
  width: 100%;
  max-width: 6em;
  padding: 0.6em;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  background-color: rgba(168, 111, 70, 1);
  box-shadow: 0 2px 0 2px rgba(0, 0.4, 0, 0.08);
  cursor: pointer;
}
button[data-testid="btn-ind-chat"] {
  display: inline;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  appearance: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: rgba(246, 235, 218, 1);
  cursor: pointer;
}
button[data-testid="btn-grp-chats"] {
  display: inline;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  appearance: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: rgba(246, 235, 218, 1);
  cursor: pointer;
}

.headerTittle {
  color: white;
  font-size: calc(1.3em + 1vw);
  font-weight: bold;
  text-align: center;
  padding: 5% 22% 10% 22%;
}
/* .popup {
    position: fixed;
    z-index: 2;
    padding: 5%;
    border: 1px solid #ccc;
  } */
.functionsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 5%;
  position: relative;
  margin: 0 10% 0 10%;
}
.filterElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
}
.sortElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
}
.workFunction1 {
  display: flex;
  flex-direction: column;
}
label[for="filterVisitors"] {
  font-size: 1em;
  margin: 1.5em 0 0 0.8em;
}
.workFunction2 {
  display: flex;
  flex-direction: column;
}
label[for="sortName"] {
  font-size: 1em;
  margin: 1.5em 0 0 0.8em;
}
select[data-testid="select-filter"] {
  display: inline;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  appearance: none;
  background-image: url(https://cdn-icons-png.flaticon.com/512/54/54785.png);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: rgba(246, 235, 218, 1);
  cursor: pointer;
}
select[data-testid="select-sort"] {
  display: inline;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  appearance: none;
  background-image: url(https://cdn-icons-png.flaticon.com/512/54/54785.png);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: rgba(246, 235, 218, 1);
  cursor: pointer;
}
button[data-testid="button-clear"] {
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
  width: 100px;
  max-width: 50%;
  box-sizing: border-box;
  margin: 3.5em 2em 3em 2em;
  /* margin: 4.5% 0em 2.5% 0em; */
  padding: 0.6em 0 0.6em 0;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  background-color: rgba(168, 111, 70, 1);
  box-shadow: 0 2px 0 2px rgba(0, 0.4, 0, 0.08);
  cursor: pointer;
}
.items-container {
  margin-bottom: 5%;
}
.fList {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 7%;
  list-style: none;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.aboutInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-image: linear-gradient(to bottom, rgba(168, 111, 70, 1), rgba(193, 161, 133, 1), rgba(246, 235, 218, 1), #fffaf0, white); */
  background-color: rgb(246 241 234);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
/* .aboutInfo {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, rgba(168, 111, 70, 1), rgba(193, 161, 133, 1), rgba(246, 235, 218, 1), #fffaf0, white);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
} */
/* .aboutInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    rgba(168, 111, 70, 1),
    rgba(193, 161, 133, 1),
    rgba(246, 235, 218, 1),
    #fffaf0,
    white
  );
  width: 100%;
} */
.dataAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* list-style: none; */
  /* border: 2px solid rgba(112, 78, 78, 1); */
  /* border-radius: 1.6em; */
  width: 100%;
  margin: auto;
  /* height: fit-content; */
}
/* .dataAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* list-style: none; */
/* border: 2px solid rgba(112, 78, 78, 1); */
/* border-radius: 1.6em; */
/* width: 100%;
  margin: auto;
  /* height: fit-content; 
}*/
/* .dataAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  border: 2px solid rgba(112, 78, 78, 1);
  border-radius: 1.6em;
  width: 45%;
  margin: 3% auto 5% auto;
} */

.cList {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  list-style: none;
  height: fit-content;
}
.infoAbout {
  object-fit: cover;
  display: flex;
  /* flex-direction: column; */
  list-style: none;
  /* justify-content: center; */
  position: relative;
  width: 40%;
  max-width: 100%;
  background-color: white;
  height: fit-content;
  border-radius: 1.6em;
  border: 2px solid rgba(112, 78, 78, 1);
}

/* #infoAbout {
  object-fit: cover;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: whitesmoke;
  height: 100%;
  border-radius: 1.6em;
} */
.cList img {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  margin-block-start: 2em;
  margin-block-end: 0.5em;
}
dl {
  display: block;
  margin-block-start: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.contentAbout {
  margin: 3%;
}
[itemprop="name"] {
  font-size: calc(0.6em + 1vw);
  font-weight: bold;
  width: 100%;
  color: black;
  margin: 0;
}
[itemprop="location"] {
  width: 100%;
  font-size: calc(0.3em + 1vw);
}
#imageAbout {
  width: 50%;
  min-width: 30%;
  /* height: 100%; */
  max-height: 30em;
  border-radius: 2em;
  display: flex;
  /* border-top-left-radius: 1.45em; */
  /* border-top-right-radius: 1.45em; */
  /* border-bottom-left-radius: 0em; */
  /* border-bottom-right-radius: 0em; */
  /* display: block; */
  /* margin: 0 auto 1em auto; */
  margin: 5% auto;
  /* justify-content: center; */
  /* align-items: center; */
}
/* #imageAbout {
  width: 100%;
  min-width: 30%;
  height: 100%;
  max-height: 30em;
  border-top-left-radius: 1.45em;
  border-top-right-radius: 1.45em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  display: block;
  margin: 0 auto 1em auto;
} */
#nameAbout {
  font-size: calc(0.05em + 1vw);
  color: #757577;
  font-weight: 400;
  margin: 0 0 0.7em 0;
}

#locationAbout {
  font-size: calc(0.05em + 1vw);
  color: #757577;
  font-weight: 400;
}
dt {
  font-size: calc(0.2em + 1vw);
  color: black;
  font-weight: bold;
}
dd {
  font-size: calc(0.05em + 1vw);
  color: #757577;
  margin: 0 0 0.7em 0;
}

.footerContainer {
  color: white;
  font-weight: 500;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: calc(0.4em + 1vw);
  background-color: rgba(168, 111, 70, 1);
  padding: 1.6%;
  text-align: center;
  width: 100%;
  /* margin: 2% 0 0 0; */
}
.popStats {
  position: fixed;
  top: 380px;
  left: 30%;
  width: 40%;
  z-index: 2;
  padding: 25px;
  text-align: center;
  border: 2px solid rgba(112, 78, 78, 1);
  border-radius: 30px;
  background: rgba(253, 249, 245, 1);
}
.buttonCloseStats {
  position: fixed;
  top: 384px;
  left: 66.5%;
  padding: 0.8em;
  box-sizing: border-box;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  background-image: url(https://www.vhv.rs/dpng/d/156-1569718_close-button-icon-png-transparent-png.png);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 0.8em auto, 100%;
  cursor: pointer;
}
.chats {
  width: 4em;
  height: 4em;
  margin: 0.5em;
}
button[data-testid="button-chats"] {
  height: 50px;
  width: 100%;
  max-width: 50px;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 0.6em 0 0.6em 0;
  border: 2px solid rgba(112, 78, 78, 1);
  border-radius: 50%;
  background-color: rgba(253, 249, 245, 1);
  background-image: url(https://github.com/C-LedezmaRodriguez/DEV013-dataverse-chat/blob/main/src/images/chat-icon.png?raw=true);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 3.1em auto, 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
button[data-testid="button-chats"]:hover::after {
  content: attr(title); /* Muestra el contenido del atributo title */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: calc(100% + 5px); /* Posiciona el texto emergente debajo del botón */
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  white-space: nowrap;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.input-apikey {
  display: flex;
  align-items: flex-start;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  max-width: 100%;
  width: 32em;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 0.4em;
  appearance: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: white;
  height: 3em;
  transition: width 0.3s ease;
}

.input-apikey:hover {
  width: 20em; /* Cambia el tamaño de la entrada cuando se mueve */
}
.buttonCloseApiModal {
  font-weight: lighter;
  color: #696969;
  right: 0;
  max-width: 45px;
  border: 1px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  cursor: pointer;
  display: flex;
  padding: 1%;
  opacity: 0.9;
  background-color: gainsboro;
  margin: 2% 0 0 0;
}
.buttonCloseBoxChat {
  position: relative;
  right: 0;
  width: 50px;
  height: 20%;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  cursor: pointer;
  display: flex;
  padding: 1%;
  opacity: 0.9;
  background-color: white;
}
.ind-chat {
  width: 40%;
  border: 2px solid rgba(112, 78, 78, 1);
  border-radius: 1.6em;
  /* background-color: rgb(194 168 149); */
}
.text-chat {
  border-radius: 1.6em;
}
#imageChat {
  width: 100%;
  min-width: 30%;
  height: 100%;
  max-height: 30em;
  border-top-left-radius: 1.6em;
  border-top-right-radius: 1.6em;
  /* border-bottom-left-radius: 0em; */
  /* border-bottom-right-radius: 0em; */
  display: block;
  /* margin: 0 auto 1em auto; */
  opacity: 0.2;
  background-color: white;
}
.user-chat {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: rgb(161 131 108);
  border-bottom-left-radius: 1.4em;
  border-bottom-right-radius: 1.4em;
}
/* .user-chat {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
} */
input.input-request {
  width: 80%;
  height: 25px;
  border-radius: 15px;
  border: 0.5px solid;
}
.send-button {
  font-size: 0.6em;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
  width: 50px;
  max-width: 50%;
  box-sizing: border-box;
  /* margin: 3.5em 2em 3em 2em; */
  /* margin: 4.5% 0em 2.5% 0em; */
  padding: 0.6em 0 0.6em 0;
  border: 0.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  background-color: rgba(168, 111, 70, 1);
  box-shadow: 0 2px 0 2px rgba(0, 0.4, 0, 0.08);
  cursor: pointer;
}
/* .grpChatCont {
  width: 100%;
  height: 100vh;
}
.boxGrpChat {
  display: flex;
  width: 100%;
  /* height: 100%; */
  /* align-content: center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: row; 
  margin: auto;
}
.grp-chat {
  width: 40%;
  height: 500px;
  background: aliceblue;
  display: flex;
  align-items: flex-end;

}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F0;
  width: 100%;
  height: 100%;
}

.image-error {
  display: flex;
  justify-content: center;
  background-size: cover;
}

.image {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  opacity: 0.4;
}

.text-error {
  color: black;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  z-index: 1;
  position: absolute;
}
.error-button-home{
  z-index: 1;
  position: absolute;
  bottom: 200px;
}

#error-btn{
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
  width: 100px;
  max-width: 50%;
  box-sizing: border-box;
  margin: 3.5em 2em 3em 2em;
  padding: 0.6em 0 0.6em 0;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  background-color: rgba(168, 111, 70, 1);
  box-shadow: 0 2px 0 2px rgba(0, 0.4, 0, 0.08);
  cursor: pointer;
}

.grpChatCont {
  width: 100%;
  /* max-width: 600px; */
  /* margin: 0 auto; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.boxGrpChat {
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    /* width: 50%; */
}

/* Estilos para el contenedor de mensajes */
.grp-chat {
  background-color: #f9f9f9;
  padding: 10px;
}

/* Estilos para los mensajes del chat */
.text-chat-grp {
  display: flex;
  flex-direction: column;
}

/* Estilos para los mensajes del sistema */
.system-output-grp {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.chat-messages-grp {
  height: 300px;
}

/* Estilos para los mensajes del usuario */
.user-chat-grp {
  margin-top: 10px;
}

.input-request-grp {
  width: calc(100% - 80px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button-grp {
  width: 60px;
  padding: 8px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
