* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgba(254, 252, 247, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-image: url(https://github.com/C-LedezmaRodriguez/DEV013-dataverse-chat/blob/main/src/images/ImageBackground.jpeg?raw=true);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  /* width: 100em;
      opacity: 110%;
      height: 25em;
      min-height: 100%; */
}
.iconContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2%;
}
.tittleButton {
  color: white;
  font-size: calc(0.5em + 1vw);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  width: 7em;
  margin: 0.5em;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.statistics {
  width: 100%;
  display: flex;
  margin: 0.5em;
  flex-direction: row-reverse;
  padding: 0 1em 0 0;
}
.statistics-button {
  height: 50px;
  width: 100%;
  max-width: 50px;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 0.6em 0 0.6em 0;
  border: 2px solid rgba(112, 78, 78, 1);
  border-radius: 50%;
  background-color: rgba(253, 249, 245, 1);
  background-image: url(https://github.com/C-LedezmaRodriguez/DEV013-dataverse-chat/blob/main/src/images/statistics-icon.png?raw=true);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 3.1em auto, 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.headerTittle {
  color: white;
  /* align-items: start; */
  font-size: calc(1.3em + 1vw);
  font-weight: bold;
  text-align: center;
  padding: 5% 22% 10% 22%;
}
.fList {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 7%;
  list-style: none;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.cList {
  object-fit: cover;
  flex-direction: column;
}
.cList {
  object-fit: cover;
  flex-direction: column;
}
.cList img {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  margin-block-start: 2em;
  margin-block-end: 2em;
}
dl {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
[itemprop="name"] {
  font-size: calc(0.8em + 1vw);
  font-weight: bold;
  width: 100%;
  color: black;
}
[itemprop="location"] {
  width: 100%;
  font-size: calc(0.3em + 1vw);
}
[itemprop="annualVisitors"] {
  width: 100%;
  font-size: calc(0.3em + 1vw);
}
dt {
  font-size: 24px;
  font-weight: bold;
}
dd {
  font-size: 18px;
  color: #757577;
}
footer {
  color: white;
  font-weight: 500;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  background-color: rgba(187, 149, 115, 1);
  padding: 30px;
  margin-top: 70px;
  text-align: center;
}
.popup {
  position: fixed;
  z-index: 2;
  padding: 5%;
  border: 1px solid #ccc;
}
.functionsContainer {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  /* position: relative; */
  /* width: fit-content; */
  align-items: stretch;
  gap: 5%;
  position: relative;
  margin-left: 20%;

  background-color: linear-gradient(
    rgba(187, 149, 115, 1),
    rgba(193, 161, 133, 1),
    rgba(194, 172, 153, 1)
  );
}
.filterElement{
    display: flex;
    flex-direction: row;
    justify-content: center;
max-width: 50%;
width: 350px;
}
.sortElement{
    display: flex;
    flex-direction: row;
    justify-content: center;
max-width: 50%;
width: 350px;
    }
.workFunction1 {
  display: flex;
  flex-direction: column;
}
label[for="filterVisitors"] {
    font-size: 1em;
    margin: 1.5em 0 0 0.8em;
}
.workFunction2 {
  display: flex;
  flex-direction: column;
}
label[for="sortName"] {
    font-size: 1em;
    margin: 1.5em 0 0 0.8em;
}
select[data-testid="select-filter"] {
  display: inline;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  appearance: none;
  background-color: #fff;
  background-image: url(https://cdn-icons-png.flaticon.com/512/54/54785.png);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: rgba(246, 235, 218, 1);
}
select[data-testid="select-sort"] {
  display: inline;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  appearance: none;
  background-color: #fff;
  background-image: url(https://cdn-icons-png.flaticon.com/512/54/54785.png);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: rgba(246, 235, 218, 1);
}
button[data-testid="button-clear"] {
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
  width: 100px;
  max-width: 50%;
  box-sizing: border-box;
  margin: 3.5em 2em 3em 2em;
  /* margin: 4.5% 0em 2.5% 0em; */
  padding: 0.6em 0 0.6em 0;
  border: 1.5px solid rgba(112, 78, 78, 1);
  border-radius: 1.5em;
  background-color: rgba(168, 111, 70, 1);
  box-shadow: 0 2px 0 2px rgba(0, 0.4, 0, 0.08);
  cursor: pointer;
}

.apikey-cont {
  position: fixed;
  top: 380px;
  left: 25%;
  width: 50%;
  z-index: 2;
  padding: 25px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  background: floralwhite;
}

.popStats {
  position: fixed;
  top: 380px;
  left: 25%;
  width: 50%;
  z-index: 2;
  padding: 25px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  background: floralwhite;
}
.buttonCloseStats {
  position: fixed;
  top: 384px;
  left: 71.5%;
  padding: 0.8em;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 1.5em;
  background-image: url(https://www.vhv.rs/dpng/d/156-1569718_close-button-icon-png-transparent-png.png);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 0.8em auto, 100%;
  cursor: pointer;
}
